[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
django-materializecss-form = "*"

[requires]
python_version = "3.8"
