{% extends 'base.html' %}

{% block body %}

    {% comment %} 
    {{products | safe}}
    <hr>
    {{purchase | safe}}
    <hr> 
    {% endcomment %}

    {{price.mean | floatformat}}
    {{price.std | floatformat}}
    {{price.median | floatformat }}

    <!-- Modal Structure -->
  <div id="price_modal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
      <p>A bunch of text</p>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

    {% if error_message %}
            <p class="flow-text red-text text-darken-5">{{error_message}}</p>
    {% endif %}
    

    {% if request.POST %}
        {% if graph %}
            <div class='container col s12'>
                <div class=row>
                    <img class="responsive-img" src="data:image/png;base64, {{ graph | safe }}">
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    {{df | safe}}
    
    <form action="" method="POST">
    {% csrf_token %}
    <div class="input-field col s12">
        <select name="chart_type">
            <option value="" disabled selected>Choose your option</option>
            <option value="bar">Bar Chart</option>
            <option value="line">Line Chart</option>
            <option value="count">Count Chart</option>
        </select>
        <label>Select Chart Type</label>
        </div>
        <div class="row">
        <div class="input-field col s6">
        <label for="date_from">Date From</label>
        <input name="date_from"type="text" class="datepicker ">
        </div>
        <div class="input-field col s6">
        <label for="date_to" >Date To</label>
        <input name="date_to" type="text" class="datepicker ">
        </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
        </form>

    <!-- Modal Trigger -->
  <button data-target="price_modal" class="btn modal-trigger">Modal</button>
{% endblock body %}